@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

$color-bkg-red: rgb(177, 15, 15);
$color-bkg-section: black;
$color-letters: #fff;
$font-size: 16px;

* {
  padding: 0;
  margin: 0;
  font-size: $font-size;
  font-family: "Open Sans";
  box-sizing: border-box;
}

body {
  background-image: url("/images/bg.jpg");
}

.container {
  width: 75%;
  margin: 0 auto;
}

.title {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

header {
  background-color: $color-bkg-red;
  width: 100%;
  padding: 0 15px 10px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0 0 15px 15px;

  h1 {
    font-size: $font-size * 3;
    color: black;
    padding-left: 15px;
  }

  nav {
    width: 40%;
    height: 100%;
    float: right;
    text-align: right;
  }

  ul {
    list-style-type: none;
    height: 100%;
    li {
      display: inline-block;
      background-color: black;
      border-radius: 0 0 20px 20px;
      padding: 60px 3px 0 3px;
      margin: 0 5px;
      img {
        height: 30px;
      }
    }
  }
}

.content {
  margin: 30px auto;
  padding: 15px;
  background-color: black;
  color: $color-letters;
  text-align: justify;
  width: 100%;
  float: left;
  border-radius: 4px;
}

.content .topContent {
    width: 100%;
    float: left;
  img {
    width: 30%;
    float: left;
  }

  .topRight {
      width: 65%;
      float: right;
    h2 {
      float: right;
      clear: both;
      width: 140px;
      padding:  10px;
      color: black;
      background-color: $color-letters;
      text-align: center;
    }
    p {
        float: right;
    }
  }
}

.bottomContent{
    width: 100%;
    float: left;
}

.box{
    width: 33%;
    float: left;
    text-align: justify;
    padding: 10px;
    margin: 0 auto;
    h3{
        background-color: $color-bkg-red;
        border-radius: 4px;
        padding: 5px;
    }
    &:not(:first-child){
    border-left: 1px solid $color-letters;
}

    a{
        width: 40%;
        background-color: white;
        padding: 6px;
        float: right;
        text-align: center;
        text-decoration: none;
        color: $color-bkg-red;
        border-radius: 5px;
    }
}

footer{
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 10px 10px 5px;
    border-radius: 5px;
}


